*{
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    align-items: center;
   
    

    color: #000;


font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 34.2px
}

.btn button{
    /* display: flex; */
padding: 17.15px 47.035px 17.15px 47.245px;
/* justify-content: center; */
margin-left: 500px;

    
    border-radius: 40px;
background: linear-gradient(90deg, #FF4D00 0%, #FF9365 100%);
}

.birinchi-title{
    color: #000;
    width: 660px;

font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 76.8px; 
}

.swiper {
    display: flex;
width: 409.5px;

padding-left: 100px;
flex-direction: column;
align-items: flex-start;
}